!!! 5
%html
  %head
    %title= title . ' - ' . $site->{name}
    = include 'layouts/default/meta'
    = include 'layouts/default/before-css'
    = include 'layouts/default/before-js'
    = include 'layouts/default/after-css'

  %body
    .main-container
      .main-content
        .page-content
          .row
            .col-xs-12
              / PAGE CONTENT BEGINS
              = content
              / PAGE CONTENT ENDS
    = include 'layouts/default/body-js'
